:root {
  --cl-soft-blue: rgba(238, 247, 255, 1);
  --cl-soft-green: rgba(216, 255, 240, 1);
  --bg-btn-cancel: rgba(10, 82, 55, 1);
  --bg-btn-cancel-all: rgba(240, 240, 240, 1);
  --cl-btn-cance-all: rgba(197, 197, 197, 1);
  --bg-btn-confirm: rgba(255, 122, 2, 1);
  --bg-newsletter: rgba(33, 138, 229);
}
