:root {
  --bg-btn-cancel: rgba(10, 82, 55, 1);
  --bg-copyright: rgba(8, 32, 67, 1);
  --bg-light-red: rgba(255, 229, 228, 1);
  --bg-newsletter: rgba(33, 138, 229);
  --cl-blue: rgba(24, 135, 217, 1);
  --cl-btn-cance-all: rgba(197, 197, 197, 1);
  --cl-dark-blue: rgba(14, 28, 74, 1);
  --cl-green: rgba(50, 206, 163, 1);
  --cl-grey: rgba(128, 128, 128, 1);
  --cl-light-grey: rgba(201, 201, 201, 0.5);
  --cl-light-red: rgba(221, 53, 52, 1);
  --cl-orange: rgba(255, 122, 2, 1);
  --cl-soft-blue: rgba(238, 247, 255, 1);
  --cl-soft-green: rgba(216, 255, 240, 1);
}
